[data-color-mode="dark"],
[data-color-mode="light"] {
  --yellow: #fcc52d;
  --yellow-scale-4: hsla(44, 100%, 75%, 1);

  --red: #ba181b;
  --red-scale-4: hsla(0, 100%, 67%, 1);

  --green: #006400;
  --green-scale-3: hsl(114, 30%, 58%);
  --green-scale-4: hsla(133, 100%, 67%, 1);

  --lightGreen: #06d6a0;

  --blue: #003aa3;
  --blue-2: #3b82f6;
  --blue-3: #0ea5e9;
  --purple: hsl(300, 51%, 20%);
  --purple-scale-4: hsl(317, 93%, 39%);

  --black: hsl(0, 0%, 0%);
  --black-scale-1: hsl(0, 0%, 10%);
  --black-scale-2: hsl(0, 0%, 20%);
  --black-scale-3: hsl(0, 0%, 30%);
  --black-scale-4: hsl(0, 0%, 40%);
  --black-scale-5: hsl(0, 0%, 50%);
  --black-scale-6: hsl(0, 0%, 60%);
  --black-scale-7: hsl(0, 50%, 20%);
  --black-scale-8: hsl(0, 0%, 80%);
  --black-scale-9: hsl(0, 0%, 90%);

  --white: hsl(0, 0%, 100%);
  --white-scale-1: hsl(240, 2%, 90%);
  --white-scale-2: #dee2e6;
  --white-scale-3: hsl(235, 100%, 96%);
  --white-scale-4: hsl(212, 27%, 89%);
  --white-scale-5: #f8fafb;
  --white-scale-6: hsla(0, 0%, 95%, 1);
  --white-scale-7: hsl(235, 6%, 58%);

  --gray: hsl(0, 0%, 35%);
  --gray-scale-1: hsl(0, 0%, 42%);
  --gray-scale-2: hsl(0, 0%, 47%);
  --gray-scale-3: hsl(0, 0%, 41%);
  --gray-scale-4: hsl(0, 0%, 59%);
  --gray-scale-5: hsl(0, 0%, 85%);
  --gray-scale-6: hsl(0, 0%, 92%);
  --gray-scale-7: hsla(0, 0%, 76%, 1);
  --gray-scale-10: hsl(0, 0%, 29%);
}

[data-color-mode="light"] {
  /* body */
  --main-bg: #f5f7fa;
}
